<ion-header color="primary">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <h1 style="color: white">App Settings</h1>
            <hr style="background-color: gainsboro">
          </ion-card-header>
          <ion-card-content>
            <ion-item>
                <ion-label>Theme:</ion-label>
                <ion-select (ionChange)="onThemeChange($event)" [(ngModel)]="selectedTheme">
                  <ion-option *ngFor="let theme of themes" [value]="theme.value">{{theme.theme}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Number Scale</ion-label>
              <ion-select (ionChange)="onNumberScaleChange($event)" [(ngModel)]="selectedScale">
                  <ion-option *ngFor="let scale of scales" [value]="scale.value">{{scale.scale}}</ion-option>
                </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
