<ion-card (click)="goToLargeNumberPage()" no-margin no-padding text-center class="full-height full-width" style="background-color:gray" >
  <ion-card-content class="full-height full-width" no-padding>
    <ion-grid class="full-height full-width" no-padding>
      <ion-row align-items-center no-padding class="full-height full-width">
        <ion-col>
            <span style="font-size: 3.5em; color: white;" [innerHtml]="number"></span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <h1 [innerHtml]="number" ></h1>
      <button (click)="toggle()">Toggle!</button>
    </ion-card>
  </ion-card-content>
</ion-card>

